################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Obstacle Avoidance/FileContentIndex/be5efdeb-fec6-477e-acf4-7f7d80301109.vsidx
/.vs/Obstacle Avoidance/FileContentIndex/c6e2e3c3-f53e-4920-9768-c7f5729f6686.vsidx
